# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.vscode
*.idea

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output binaries
d4-arm5l
d4-amd64l
# Output binaries from gox
d4-goclient_*
d4-goclient

# Configuration files
/conf.*
